body {
  // Borders
  --pf1-v2-border-radius: 4px;
  --pf1-v2-border-width: 1px;
  --pf1-v2-border-width-wide: 2px;

  // Headlines
  --pf1-v2-font-h: "Times New Roman", serif;
  --pf1-v2-font-variant-h: small-caps;
  --pf1-v2-font-color-h: var(--pf1-v2-color-tertirary);
  --pf1-v2-font-border: 2px solid transparent;

  --pf1-v2-font-h1: var(--pf1-v2-font-h);
  --pf1-v2-font-size-h1: var(--font-size-32);
  --pf1-v2-font-variant-h1: var(--pf1-v2-font-variant-h);
  --pf1-v2-font-color-h1: var(--pf1-v2-color-primary);

  --pf1-v2-font-h2: var(--pf1-v2-font-h);
  --pf1-v2-font-size-h2: var(--font-size-28);
  --pf1-v2-font-variant-h2: var(--pf1-v2-font-variant-h);
  --pf1-v2-font-color-h2: var(--pf1-v2-color-secondary);

  --pf1-v2-font-h3: var(--pf1-v2-font-h);
  --pf1-v2-font-size-h3: var(--font-size-24);
  --pf1-v2-font-variant-h3: var(--pf1-v2-font-variant-h);
  --pf1-v2-font-color-h3: var(--pf1-v2-font-color-h);

  --pf1-v2-font-h4: var(--pf1-v2-font-h);
  --pf1-v2-font-size-h4: var(--font-size-18);
  --pf1-v2-font-variant-h4: var(--pf1-v2-font-variant-h);
  --pf1-v2-font-color-h4: var(--pf1-v2-font-color-h);

  --pf1-v2-font-h5: var(--pf1-v2-font-h);
  --pf1-v2-font-size-h5: var(--font-size-16);
  --pf1-v2-font-variant-h5: default;
  --pf1-v2-font-color-h5: var(--pf1-v2-font-color-h);

  --pf1-v2-font-h6: var(--pf1-v2-font-h);
  --pf1-v2-font-size-h6: var(--font-size-14);
  --pf1-v2-font-variant-h6: default;
  --pf1-v2-font-color-h6: var(--pf1-v2-font-color-h);

  // Tabs
  --pf1-v2-font-tabs: var(--pf1-v2-font-h);
  --pf1-v2-font-tabs-variant: var(--pf1-v2-font-variant-h);

  // Borders
  --pf1-v2-border-primary: var(--pf1-v2-color-primary);
  --pf1-v2-border-secondary: var(--pf1-v2-color-secondary);
  --pf1-v2-border-tertiary: var(--pf1-v2-color-tertirary);

  // Text
  --pf1-v2-font: Signika, sans-serif;

  --pf1-v2-text-primary: var(--pf1-v2-color-primary);
  --pf1-v2-text-secondary: var(--pf1-v2-color-secondary);
  --pf1-v2-text-tertiary: var(--pf1-v2-color-tertirary);

  // Backgrounds
  --pf1-v2-background-primary: var(--pf1-v2-color-primary);
  --pf1-v2-background-secondary: var(--pf1-v2-color-secondary);
  --pf1-v2-background-tertiary: var(--pf1-v2-color-tertirary);
}
