// Item Delete Confirm Dialog
dialog.application.pf1-v2:is(.delete-item, .delete-action) {
  .dialog-content {
    // Unset Foundry's overgenerous white space
    gap: unset;

    ul {
      margin: 0;
    }

    p:first-child {
      margin-top: 0;
    }
  }
}
