.pf1-v2.application.list-selector {
  colgroup {
    > col.grip {
      width: 2.5rem;
    }
    > col.key {
      width: 50%; // 50% of total
      &.no-value {
        width: 80%;
      }
    }
    > col.value {
      width: auto; // 30% of total
    }
    > col.controls {
      width: 3rem;
    }
  }

  table {
    margin: 0 0 0.5rem 0;
    border-radius: unset;
    border: unset;
    table-layout: fixed;

    thead {
      background: unset;
      text-align: center;
      text-shadow: unset;
      font-size: var(--font-size-14);

      tr {
        &.drag-over {
          th {
            border-bottom: 3px solid var(--pf1-v2-border-secondary);
          }
        }
      }
    }

    tbody {
      tr {
        border-top: var(--pf1-v2-border-width) solid transparent;

        &.is-dragged {
          opacity: 0.25;
        }

        &.drag-over {
          border-top: 3px solid var(--pf1-v2-border-tertiary);
        }
      }
    }

    :is(td, th) {
      padding: 0.5rem;

      &:first-child {
        padding-left: 1rem;
      }

      &.drag-control {
        width: 2.5rem;
        cursor: move;
        color: var(--pf1-v2-text-muted);
      }

      &.entry-control {
        padding-right: 1rem;
        width: 3.5rem;
      }
    }
  }

  div.add-entry {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0 1rem;

    &:before,
    &:after {
      content: "";
      flex: 1;
      height: 1px;
      border-top: var(--pf1-v2-border-width-wide) solid var(--pf1-v2-border-muted);
    }

    a {
      color: var(--pf1-v2-text-primary);
      text-decoration: none;
      font-weight: bold;
    }
  }

  .form-group {
    padding: 0 1rem;
  }
}
