<div class="compendium-browser-content" data-type="{{type}}">
  <aside class="sidebar flexcol">
    <div class="entry-filter search-form formgroup flexrow">
      <input type="search" name="filter" value="{{query}}" placeholder="{{localize "PF1.SearchFilterPlaceholder"}}" autocomplete="off" autofocus>
      <i class="fa-solid fa-search" inert></i>
    </div>

    <div class="filter-container">
      {{#each filters as |filter|}}
        <div class="filter" data-filter-id="{{filter.id}}">
          <h3>{{filter.label}}
            {{#if filter.active}}<span class="filter-count"><i class="fa-solid fa-filter" inert></i>×{{filter.activeCount}}</span>{{/if}}
          </h3>
          <div class="filter-content flexcol {{filter.collapsed}}">
            {{> (lookup . "template") filter=filter}}
          </div>
        </div>
      {{/each}}
    </div>

    <div class="buttons flexrow">
      <button class="reload refresh">{{localize "PF1.CompendiumBrowser.ReloadPacks"}}</button>
      <button class="reset clear-filters">{{localize "PF1.CompendiumBrowser.ClearFilters"}}</button>
    </div>
  </aside>

  <div class="directory-container flexcol">
    {{#unless loading}}
    <div class="top flexrow">
      <span>{{localize "PF1.TotalItems" count=itemCount}}</span>
      <span>{{localize "PF1.FilteredItems" count=filteredItemCount}}</span>
    </div>
    {{/unless}}
    <ol class="directory-list">
      {{#if loading}}
        <li class="compendium-loading flexcol">
          <i class="fa-solid fa-spinner fa-spin" inert></i>
          {{localize "PF1.LoadingItemsFromIndexes" items=loadingInfo.entryCount indexes=loadingInfo.indexCount}}
        </li>
      {{else}}
        {{> systems/pf1/templates/apps/compendium-browser/entries.hbs entries=entries}}
        <li class="directory-bottom"></li>
      {{/if}}
    </ol>
  </div>
</div>
